@{
    ViewBag.Title = "Modesto Power | Community Outreach Programs";
}
<section id="promo" class="historyheader parallax">
    <div class="container">
        <h5>Here is some statement about</h5>
        <h1>Community Outreach</h1>
    </div>
</section>
<section id="aboutcontent">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 about-inner">
                <h2>About Modesto Power</h2>
                <h3>We turn couch potatoes into olympic super stars. </h3>
                <h4>We make the weak strong, and produce world class combative atheletes.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="visual">
                    <img class="about-mockup thumbnail" src="/images/basic/IMG_0535.jpg" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    (function () {
        setTimeout(function () {
            $('#sticktop-sticky-wrapper').hide();
            $('#internalnav').show();
            $('#nav-about').addClass('active');
        }, 500);

    })();
</script>