@{
    ViewBag.Title = "Home Page";
}

<!--=================================
About
=================================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 about-inner">
                <h2>About Modesto Power</h2>
                <h3>We turn couch potatoes into olympic super stars. </h3>
                <h4>We make the weak strong, and produce world class combative atheletes.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="visual">
                    <img class="about-mockup" src="assets/img/basic/iphone-mockup.png" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Services
=================================-->
<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>some of our programs</h2>
                <h4>
                    We are Central California's premiere training facility with classes for all ages and fitness goals.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="pencilIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Jiu Jitsu</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="beakerIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Muay Thai</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="powerpointIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Performance Lab</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="handIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Cardio Kickboxing</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
        </div><!--wrapper-->
    </div>
</section>
<!--=================================
Promo
=================================-->
<section id="promo" class="parallax-one parallax">
    <div class="container">
        <h5>Your own custom</h5>
        <h1>parallax Content</h1>
        <a href="#" class="btn">learn more</a>
    </div>
</section>