@model RAM.Controllers.ViewModels.HomeView

@{
    ViewBag.Title = "Home Page";
}

<!--=================================
     Home
     =================================-->
<section id="home" class="video-banner">

    <video id="videoIntro" class="video-BG">
        <source type="video/mp4" src="../video/mp1.mp4" />
    </video>

    <div class="overlay"></div>
    <div class="video-content visible-lg visible-md">
        <div class="container">
            <!-- <img class="logo" src="assets/img/basic/logo.png" alt=""> -->
            <div class="text-fadder flexslider">
                <ul class="slides">
                    <li>
                        <h5>the ultimate</h5>
                        <h1>Training Facility</h1>
                    </li>
                    <li>
                        <h5>the Limitless</h5>
                        <h1>Training experience</h1>
                    </li>
                    <li>
                        <h5>feel the difference</h5>
                        <h1>Modesto Power</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
About
=================================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="content-container col-lg-7 col-md-7 col-sm-7 col-xs-12 about-inner">
                <h2>About Modesto Power</h2>
                <h4>We make the weak strong, and produce world class combative atheletes.</h4>
                <p>Modesto Power is a training facility focused on helping you achieve your full potential. Not only on the mat or in the weight room, but in life. Our instructors motivate you to give your best effort every single time you come to class in the hopes that you will leave with the desire to give that same effort in life. </p>
                <p>So whether you are working to earn your black belt, training to fight in the cage, pursuing that athletic scholarship, or just trying to get in the best shape of your life; Modesto Power has the facility, the staff and the environment to help get you there.</p>
            </div>
            <div style="margin-top: -40px;" class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <div class="visual">
                    <img class="about-mockup thumbnail" src="images/basic/bjjIMG_0726.jpg" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Services
=================================-->
<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>some of our programs</h2>
                <h4>
                    We are Central California's premiere training facility with classes for all ages and fitness goals.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/basic/bjjHomeIcon.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Jiu Jitsu</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Family Environment</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                        <a class="btn" href="/Programs/Brazilian-Jiu-Jitsu">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/basic/mtHomeIcon.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Muay Thai</h5>
                        <ul>
                            <li>Certified Instructor</li>
                            <li>Mentally Challenging</li>
                            <li>Kids program</li>
                            <li>Practical Instruction</li>
                        </ul>
                        <a class="btn" href="/Programs/Muay-Thai">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/basic/tplHomeIcon.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>TPL</h5>
                        <ul>
                            <li>Strength & Conditioning</li>
                            <li>Speed & Agility</li>
                            <li>Competitive Training</li>
                            <li>Weightlifting</li>
                        </ul>
                        <a class="btn" href="/Programs/The-Performance-Lab">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/basic/ckHomeIcon.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Cardio Kickboxing</h5>
                        <ul>
                            <li>Fully Body Workout</li>
                            <li>Great Cardio</li>
                            <li>Action Packed</li>
                            <li>Fighter Fit</li>
                        </ul>
                        <a class="btn" href="/Programs/Cardio-Kickboxing">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>
        </div><!--wrapper-->
    </div><br />
</section>
<!--=================================
Team
=================================-->
<section id="team">
    <div class="container">
        <h2>meet the team</h2>
        <h4>We have the experience and knowledge to help you reach all of your fitness and training goals.</h4>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="team-visual">
                    <img src="/images/team/team.jpg" class="thumbnail" alt="Team Modesto Power">
                </div><br />
                <div class="team-visual">
                    <img src="/images/team/copa.jpg" class="thumbnail" alt="Team Modesto Power">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 member-visual">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/chewy.png" class="thumbnail" alt="/">
                        <div class="member-content">
                            <h5><a href="/Instructors/Chewy-Ybarra">Chewy Ybarra</a></h5>
                            <span>Director / Brazilian Jiu Jitsu</span>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/steve.jpg" class="thumbnail" alt="/">
                        <div class="member-content">
                            <h5><a href="/Instructors/Steve-Shelburn">Steve Shelburn</a></h5>
                            <span>Muay Thai / SEAMA</span>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/img_0535.jpg" class="thumbnail" alt="Danny Schreiber Brazilian Jiu Jitsu">
                        <div class="member-content">
                            <h5><a href="/Instructors/Danny-Schreiber">Danny Schreiber</a></h5>
                            <span>Cardio Kickboxing / Brazilian Jiu Jitsu</span>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/brett.jpg" class="thumbnail" alt="">
                        <div class="member-content">
                            <h5><a href="/Instructors/Brett-Butler">Brett Butler</a></h5>
                            <span>The Performance Lab</span>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/gabe.jpg" class="thumbnail" alt="">
                        <div class="member-content">
                            <h5>Gabe Torres</h5>
                            <h6>Office Manager</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>
            </div>
        </div>
    </div>
</section>





<!--=================================
Testimonials
=================================-->
<section id="testimonial" class="parallax testimonial-parallax">
    <div class="testi-inner">
        <div class="testimonial-overlay"></div>
        <div class="container">
            <div class="flexslider testi-slider">
                <ul class="slides">
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--container-->

        <div class="clients">
            <div class="container">
                <ul class="clients-logo">
                    <li class="active"><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                </ul>
            </div>
            <div class="carousel-nav"> <a id="client-prev" href="#" class="prev"><span class=" icon-angle-left"></span></a> <a id="client-next" href="#" class="next"><span class=" icon-angle-right"></span></a> </div>
        </div>

    </div>
    <div class="clearfix"></div>
</section>

<!--=================================

=================================-->
<section id="customer" class="parallax-customer parallax" style="height: 500px; ">
    <div class="container" style="margin-top: 100px;">
        <h5>some important facts </h5>
        <h1>about modesto power</h1>
    </div>
</section>

<section id="blog">
    <div class="container">
        <h2>Latest Posts</h2>
        <h3>Keep up to date with the wonderful world of Modesto Power</h3>
        <h4></h4>
    </div>
    <div class="projects-wrapper">
        <div class="projects">
            @foreach (var b in Model.Posts.Take(5))
            {
                <div class="project ajax-project type3">
                <div class="visual">
                    <img src="@b.imagepath" alt="@b.title">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                    <span>share</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-twitter"></span>
                                    <span>tweet</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content" style="height: 75px;">
                    <h4><a href="/blog/@b.category.Replace(" ", "-")/@b.title.Replace(" ", "-")" class="pop-project">@b.title</a></h4>
                    <a class="visit" href="/blog/@b.category.Replace(" ", "-")/@b.title.Replace(" ", "-")"></a>
                </div>
            </div><!--project-->
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</section>

<section id="hire-us" style="height: 450px;" class="parallax parallax-two">
    <div class="container">
        <h3>&nbsp;</h3>
        <h4>&nbsp;</h4>
    </div>
    <div class="clearfix"></div>
</section>


<!--=================================
Getintouch
=================================-->
<section id="contact">
    <div class="container">
        <h2>get in touch</h2>
        <h3>Don't be shy, give us a shout.</h3>
        <div class="row">
            <form method="POST" action="Contact/SendMessage" id="contact-form" class="default-form validate">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contactus">
                        <h5>Sign Up For Coupons & Discounts</h5>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control required" name="field_name" id="name" placeholder="Name"><br />
                            <input type="email" class="form-control required email" name="field_email" id="email" placeholder="Email"><br />
                            <input type="tel" class="form-control required tel" name="field_phone" id="phone" placeholder="Phone"><br />
                            <input type="text" class="form-control required" name="field_subject" id="subject" placeholder="Subject"><br />
                            <textarea name="field_message" class="form-control required" id="message" placeholder="Message"></textarea><br />
                            <button id="submit" class="btn btn-primary">submit</button>
                        </div>
                        <div id="valid-issue" style="display:none;"> Please Provide Valid Information</div>
                    </div>
                </div>
                <div class="interested col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h5>What are you interested in?</h5>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input type="checkbox" name="interestedbjj" id="interestedbjj">Brazilian Jiu Jitsu<br />
                        <input type="checkbox" name="interestedmuaythai" id="interestedmuaythai">Muay Thai<br />
                        <input type="checkbox" name="interestedmma" id="interestedmma">MMA<br />
                        <input type="checkbox" name="interestedkickboxing" id="interestedkickboxing">Cardio Kickboxing<br />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <input type="checkbox" name="interestedtpl" id="interestedtpl">The Performance Lab<br />
                        <input type="checkbox" name="interestedpeak" id="interestedpeak">Peak Physique<br />
                        <input type="checkbox" name="interestedweightloss" id="interestedweightloss"> Weight Loss<br />
                        <input type="checkbox" name="interestedstrength" id="interestedstrength">Increase Strength<br />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<!--=================================
Contact
=================================-->
<section id="contact">
    <div class="container">
        <h4>We're ready to make your fitness and training dreams become a reality!</h4>
        <div class="contact-info contact1">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h5>Location</h5>
                            <h6>
                                3400 Coffee Rd,
                                Suite #19 Modesto CA, 95354
                            </h6>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h5>call us</h5>
                            <h6><span>Tel:</span> 1.800.123.9876 - 6789</h6>
                            <h6><span>Fax:</span> 1.800.321.9877 - 7789</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h5>Write to Us</h5>
                            <h6><span>Sales:</span> sales@teammodestopower.com</h6>
                            <h6><span>info:</span> info@teammodestopower.com</h6>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <h5>careers</h5>
                            <h6><span>HRDept:</span> hr@teammodestopower.com</h6>
                            <h6><span>jobs:</span>  jobs@teammodestopower.com</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div id="contact-map" class="g-map" data-address="3400 coffee rd modesto ca 95354" data-zoomlvl="16" data-maptype="HYBRID"></div>
                </div>
            </div>
        </div><!--contact info-->
    </div>
</section>


       