@{
    ViewBag.Title = "Home Page";
}

<!--=================================
About
=================================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 about-inner">
                <h2>About Modesto Power</h2>
                <h3>We turn couch potatoes into olympic super stars. </h3>
                <h4>We make the weak strong, and produce world class combative atheletes.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="visual">
                    <img class="about-mockup thumbnail" src="images/basic/IMG_0535.jpg" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Services
=================================-->
<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>some of our programs</h2>
                <h4>
                    We are Central California's premiere training facility with classes for all ages and fitness goals.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="pencilIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Jiu Jitsu</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="beakerIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Muay Thai</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="powerpointIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>TPL</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="handIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Cardio Kickboxing</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
        </div><!--wrapper-->
    </div><br />
</section>
<!--=================================
Promo
=================================-->
<section id="promo" class="parallax-one parallax">
    <div class="container">
        <h5>Your own custom</h5>
        <h1>parallax Content</h1>
        <a href="#" class="btn">learn more</a>
    </div>
</section>

<!--=================================
Team
=================================-->
<section id="team">
    <div class="container">
        <h2>meet the team</h2>
        <h3>We're a small, friendly and talented team. </h3>
        <h4>We craft beautiful digital solutions for awesome clients across all the platforms.</h4>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="team-visual">
                    <img src="assets/img/team/1.jpg" alt="/">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 member-visual">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="assets/img/team/2.jpg" alt="/">
                        <div class="member-content">
                            <h5>john doe</h5>
                            <h6>Founder/CEO</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="assets/img/team/3.jpg" alt="/">
                        <div class="member-content">
                            <h5>john doe</h5>
                            <h6>Founder/CEO</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="assets/img/team/4.jpg" alt="/">
                        <div class="member-content">
                            <h5>john doe</h5>
                            <h6>Founder/CEO</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

            </div>
        </div>
    </div>
</section>

<!--=================================

=================================-->
<section id="customer">
    <div class="container">
        <h2>some important facts </h2>
        <h3>Customer satisfaction is our first priority.</h3>
        <h4>We have worked hard to gain hundered of staisfied clients around the globe.</h4>
    </div>
</section>