@{
    ViewBag.Title = "Home Page";
}

<!--=================================
About
=================================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 about-inner">
                <h2>About Modesto Power</h2>
                <h3>We turn couch potatoes into olympic super stars. </h3>
                <h4>We make the weak strong, and produce world class combative atheletes.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="visual">
                    <img class="about-mockup thumbnail" src="images/basic/IMG_0535.jpg" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Services
=================================-->
<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>some of our programs</h2>
                <h4>
                    We are Central California's premiere training facility with classes for all ages and fitness goals.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="pencilIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Jiu Jitsu</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="beakerIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Muay Thai</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="powerpointIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>TPL</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="handIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Cardio Kickboxing</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day and eventing</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
        </div><!--wrapper-->
    </div><br />
</section>
<!--=================================
Promo
=================================-->
<section id="promo" class="parallax-one parallax">
    <div class="container">
        <h5>push yourself to</h5>
        <h1>the next level</h1>
        <a href="#" class="btn">learn more</a>
    </div>
</section>

<!--=================================
Team
=================================-->
<section id="team">
    <div class="container">
        <h2>meet the team</h2>
        <h3>We love what we do, and we're good at it. </h3>
        <h4>We have the experience and knowledge to help you reach all of your fitness and training goals.</h4>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="team-visual">
                    <img src="/images/team/team.jpg" class="thumbnail" alt="Team Modesto Power">
                </div><br />
                <div class="team-visual">
                    <img src="/images/team/copa.jpg" class="thumbnail" alt="Team Modesto Power">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 member-visual">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/chewy.png" class="thumbnail" alt="/">
                        <div class="member-content">
                            <h5>Chewy Ybarra</h5>
                            <h6>Director / Brazilian Jiu Jitsu</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/steve.jpg" class="thumbnail" alt="/">
                        <div class="member-content">
                            <h5>Steve Shelburn</h5>
                            <h6>Muay Thai / SEMA</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/img_0535.jpg" class="thumbnail" alt="Danny Schreiber Brazilian Jiu Jitsu">
                        <div class="member-content">
                            <h5>Danny Schreiber</h5>
                            <h6>Cardio Kickboxing / Brazilian Jiu Jitsu</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/brett.jpg" class="thumbnail" alt="">
                        <div class="member-content">
                            <h5>Brett Butler</h5>
                            <h6>The Performance Lab</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/cali.jpg" class="thumbnail" alt="">
                        <div class="member-content">
                            <h5>Cali Ybarra</h5>
                            <h6>Font Desk</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->

                    <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                        <div class="member">
                            <img src="/images/team/gabe.jpg" class="thumbnail" alt="">
                            <div class="member-content">
                                <h5>Gabe Torres</h5>
                                <h6>Office Manager</h6>
                                <ul class="social">
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                    <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                    <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                        </div><!--member-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================

=================================-->
<section id="customer" class="parallax-customer parallax">
    <div class="container">
        <h5>some important facts </h5>
        <h1>about modesto power</h1>
    </div>
</section>




<!--=================================
Portfolio
=================================-->
<section id="portfolio">
    <div class="container">
        <h2>Scenes from the gallery</h2>
        <h3>Some captured moments of the modesto power family.</h3>
        <h4></h4>

        <div class="filter-wrapper">
            <h5>Featured photos -</h5>
            <ul class="portfolio-filter">
                <li class="active" data-filter="*">all</li>
                <li data-filter=".type1">Jiu Jitsu</li>
                <li data-filter=".type2">Muay Thai</li>
                <li data-filter=".type3">Cardio Kickboxing</li>
                <li data-filter=".type4">TPL</li>
                <li data-filter=".type5">Peak Physique</li>
                <li data-filter=".type6">Having Fun!</li>
            </ul>
        </div>
    </div>
    <div class="projects-wrapper">
        <div class="projects">
            <div class="project ajax-project type3">
                <div class="visual">
                    <img src="/images/portfolio/pic1.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project1.html" class="pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="folio.html">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type3 type6">
                <div class="visual">
                    <img src="/images/portfolio/pic2.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project2.html" class=" pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="assets/img/portfolio/folio-img2.jpg" data-rel="prettyPhoto">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->


            <div class="project ajax-project type3">
                <div class="visual">
                    <img src="/images/portfolio/pic1.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project1.html" class="pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="folio.html">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type3 type6">
                <div class="visual">
                    <img src="/images/portfolio/pic2.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project2.html" class=" pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="assets/img/portfolio/folio-img2.jpg" data-rel="prettyPhoto">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->


            <div class="project ajax-project type4">
                <div class="visual">
                    <img src="/images/portfolio/pic1.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project1.html" class="pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="folio.html">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type3 type6">
                <div class="visual">
                    <img src="/images/portfolio/pic2.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project2.html" class=" pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="assets/img/portfolio/folio-img2.jpg" data-rel="prettyPhoto">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type3">
                <div class="visual">
                    <img src="/images/portfolio/pic1.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project1.html" class="pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="folio.html">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type3 type4">
                <div class="visual">
                    <img src="/images/portfolio/pic2.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project2.html" class=" pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="assets/img/portfolio/folio-img2.jpg" data-rel="prettyPhoto">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type2">
                <div class="visual">
                    <img src="/images/portfolio/pic1.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project1.html" class="pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="folio.html">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->

            <div class="project ajax-project type3 type2">
                <div class="visual">
                    <img src="/images/portfolio/pic2.jpg" alt="">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-heart"></span>
                                    <span>1400</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-eye-open"></span>
                                    <span>5473</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content">
                    <h4><a href="#project2.html" class=" pop-project">moments</a></h4>
                    <ul class="tags">
                        <li><a href="assets/img/portfolio/folio-img2.jpg" data-rel="prettyPhoto">Team Modesto Power</a></li>
                    </ul>
                    <a class="visit" href="#"></a>
                </div>
            </div><!--project-->
        </div>
        <div class="clearfix"></div>
    </div>

</section>

<!--=================================
Testimonials
=================================-->
<section id="testimonial" class="parallax testimonial-parallax">
    <div class="testi-inner">
        <div class="testimonial-overlay"></div>
        <div class="container">
            <div class="flexslider testi-slider">
                <ul class="slides">
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--container-->

        <div class="clients">
            <div class="container">
                <ul class="clients-logo">
                    <li class="active"><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                </ul>
            </div>
            <div class="carousel-nav"> <a id="client-prev" href="#" class="prev"><span class=" icon-angle-left"></span></a> <a id="client-next" href="#" class="next"><span class=" icon-angle-right"></span></a> </div>
        </div>

    </div>
</section>

<!--=================================
features
=================================-->
<section id="features">
    <div class="container">
        <h2>Tutorials</h2>
        <h3>Check back often to see what makes Modesto Power atheletes champions of the known universe</h3>
        <h4></h4>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                <h5>Pass The Guard Flow</h5>
                <div class="responsive-vimeo">
                    <iframe src="//player.vimeo.com/video/87884655?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="clearfix"></div>
                <h5>Spinning Arm Flow</h5>
                <div class="feature">
                    <div class="responsive-vimeo">
                        <iframe src="//player.vimeo.com/video/87884655?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div><!--feature-->
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
                <h5>X-Guard Flow</h5>
                <div class="responsive-vimeo">
                    <iframe src="//player.vimeo.com/video/87884655?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="clearfix"></div>
                <h5>Deep Half Guard Flow</h5>
                <div class="feature">
                    <div class="responsive-vimeo">
                        <iframe src="//player.vimeo.com/video/87884655?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div><!--feature-->

            </div>

        </div>
    </div>
</section>