@{
    ViewBag.Title = "Home Page";
}

<!--=================================
About
=================================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 about-inner">
                <h2>About Newyork studio</h2>
                <h3>We help build identities from concept to launch. </h3>
                <h4>We rock at web/mobile design & development, apps, branding, and Drupal.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="visual">
                    <img class="about-mockup" src="assets/img/basic/iphone-mockup.png" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Services
=================================-->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>we’re good in</h2>
                <h4>
                    Over the last few years we've earned a solid reputation for our
                    <span>Web & Mobile interface</span> design.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="pencilIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>design</h5>
                        <ul>
                            <li>Website Design</li>
                            <li>Mobile App Design</li>
                            <li>Branding</li>
                            <li>Web App Design</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="beakerIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>development</h5>
                        <ul>
                            <li>Website Design</li>
                            <li>Mobile App Design</li>
                            <li>Branding</li>
                            <li>Web App Design</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="powerpointIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>printing</h5>
                        <ul>
                            <li>Website Design</li>
                            <li>Mobile App Design</li>
                            <li>Branding</li>
                            <li>Web App Design</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <div class="service-icon">
                            <span class="handIcon"></span>
                        </div>
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>consultancy</h5>
                        <ul>
                            <li>Website Design</li>
                            <li>Mobile App Design</li>
                            <li>Branding</li>
                            <li>Web App Design</li>
                        </ul>
                    </div><!--content-->
                </div><!--service-->
            </div>
        </div><!--wrapper-->
    </div>
</section>
<!--=================================
Promo
=================================-->
<section id="promo" class="parallax-one parallax">
    <div class="container">
        <h5>Your own custom</h5>
        <h1>parallax Content</h1>
        <a href="#" class="btn">learn more</a>
    </div>
</section>