@model RAM.Controllers.ViewModels.HomeView

@{
    ViewBag.Title = "Home Page";
}

<!--=================================
     Home
     =================================-->
<section id="home" class="video-banner">

    <video class="video-BG">
            <source type="video/mp4" src="../video/mp1.mp4" />
        </video>

    <div class="overlay"></div>
    <div class="video-content visible-lg visible-md">
        <div class="container">
            <!-- <img class="logo" src="assets/img/basic/logo.png" alt=""> -->
            <div class="text-fadder flexslider">
                <ul class="slides">
                    <li>
                        <h5>the ultimate</h5>
                        <h1>Training Facility</h1>
                    </li>
                    <li>
                        <h5>the Limitless</h5>
                        <h1>Training experience</h1>
                    </li>
                    <li>
                        <h5>feel the difference</h5>
                        <h1>Modesto Power</h1>
                    </li>
                </ul>
            </div>
            <ul class="home-nav">
                <li><a href="#about">About</a></li>
                <li><a href="#programs">Programs</a></li>
                <li><a href="/Schedule">Schedule</a></li>
                <li><a href="#team">Instructors</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="#portfolio">Gallery</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <a class="btn" href="#">learn more</a>
        </div>
    </div>
    <a class="scroller" href="#about"></a>
</section>

<!--=================================
About
=================================-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 about-inner">
                <h2>About Modesto Power</h2>
                <h3>We turn couch potatoes into olympic super stars. </h3>
                <h4>We make the weak strong, and produce world class combative atheletes.</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing. Quisque congue dui et justo vulputate, eget vehicula lorem fringilla. Vestibulum vitae edor dolor euimod, scelerisque emenim sed, consectetur nibh.</p>
                <a class="btn" href="/About/Our-History">learn more</a>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="visual">
                    <img class="about-mockup thumbnail" src="images/basic/IMG_0535.jpg" alt="/">
                </div>
            </div>
        </div>
    </div>
</section>
<!--=================================
Services
=================================-->
<section id="programs">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <h2>some of our programs</h2>
                <h4>
                    We are Central California's premiere training facility with classes for all ages and fitness goals.
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/client/aj.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Jiu Jitsu</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day / evening</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                        <a class="btn" href="/Programs/Brazilian-Jiu-Jitsu">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/client/brad.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Muay Thai</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day / evening</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                        <a class="btn" href="/Programs/Muay-Thai">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/client/aj.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>TPL</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day / evening</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                        <a class="btn" href="/Programs/The-Performance-Lab">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                    <div class="service-visual">
                        <img src="/images/client/brad.jpg" style="height: 165px; width: 165px;" class="img-circle" alt="" />
                    </div><!--visual-->
                    <div class="service-content">
                        <h5>Cardio Kickboxing</h5>
                        <ul>
                            <li>World class Instructor</li>
                            <li>Classes day / evening</li>
                            <li>Kids program</li>
                            <li>Gi and NoGi</li>
                        </ul>
                        <a class="btn" href="/Programs/Cardio-Kickboxing">learn more</a>
                    </div><!--content-->
                </div><!--service-->
            </div>
        </div><!--wrapper-->
    </div><br />
</section>
<!--=================================
Promo
=================================-->
<section id="promo" class="parallax-one parallax">
    <div class="container">
        <h5>push yourself to</h5>
        <h1>the next level</h1>
    </div>
</section>

<!--=================================
Team
=================================-->
<section id="team">
    <div class="container">
        <h2>meet the team</h2>
        <h3>We love what we do, and we're good at it. </h3>
        <h4>We have the experience and knowledge to help you reach all of your fitness and training goals.</h4>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="team-visual">
                    <img src="/images/team/team.jpg" class="thumbnail" alt="Team Modesto Power">
                </div><br />
                <div class="team-visual">
                    <img src="/images/team/copa.jpg" class="thumbnail" alt="Team Modesto Power">
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 member-visual">
                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/chewy.png" class="thumbnail" alt="/">
                        <div class="member-content">
                            <h5><a href="/Instructors/Chewy-Ybarra">Chewy Ybarra</a></h5>
                            <span>Director / Brazilian Jiu Jitsu</span>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/steve.jpg" class="thumbnail" alt="/">
                        <div class="member-content">
                            <h5><a href="/Instructors/Steve-Shelburn">Steve Shelburn</a></h5>
                            <span>Muay Thai / SEAMA</span>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/img_0535.jpg" class="thumbnail" alt="Danny Schreiber Brazilian Jiu Jitsu">
                        <div class="member-content">
                            <h5><a href="/Instructors/Danny-Schreiber">Danny Schreiber</a></h5>
                            <span>Cardio Kickboxing / Brazilian Jiu Jitsu</span>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/brett.jpg" class="thumbnail" alt="">
                        <div class="member-content">
                            <h5><a href="/Instructors/Brett-Butler">Brett Butler</a></h5>
                            <span>The Performance Lab</span>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>

                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                    <div class="member">
                        <img src="/images/team/gabe.jpg" class="thumbnail" alt="">
                        <div class="member-content">
                            <h5>Gabe Torres</h5>
                            <h6>Office Manager</h6>
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                                <li><a href="#"><i class=" icon-twitter"></i></a></li>
                                <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div><!--member-->
                </div>
            </div>
        </div>
    </div>
</section>





<!--=================================
Testimonials
=================================-->
<section id="testimonial" class="parallax testimonial-parallax">
    <div class="testi-inner">
        <div class="testimonial-overlay"></div>
        <div class="container">
            <div class="flexslider testi-slider">
                <ul class="slides">
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Brad Pitt - <span>Jiu Jitsu</span></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
                                Modesto Power truly is the happiest place on earth!  I would recommend this fine establishment to any and all who are looking to change their physique in the most awesome of ways.
                                <a class="client-ref" href="#">Angelina Jolie - <span>Cardio Kickboxing</span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!--container-->

        <div class="clients">
            <div class="container">
                <ul class="clients-logo">
                    <li class="active"><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/brad.jpg" class="img-circle" alt="/"></li>
                    <li><img src="/images/client/aj.jpg" class="img-circle" alt="/"></li>
                </ul>
            </div>
            <div class="carousel-nav"> <a id="client-prev" href="#" class="prev"><span class=" icon-angle-left"></span></a> <a id="client-next" href="#" class="next"><span class=" icon-angle-right"></span></a> </div>
        </div>

    </div>
    <div class="clearfix"></div>
</section>

<!--=================================

=================================-->
<section id="customer" class="parallax-customer parallax">
    <div class="container">
        <h5>some important facts </h5>
        <h1>about modesto power</h1>
    </div>
</section>

<section id="blog">
    <div class="container">
        <h2>Latest Posts</h2>
        <h3>Keep up to date with the wonderful world of Modesto Power</h3>
        <h4></h4>
    </div>
    <div class="projects-wrapper">
        <div class="projects">
            @foreach (var b in Model.Posts.Take(5))
            {
                <div class="project ajax-project type3">
                <div class="visual">
                    <img src="@b.imagepath" alt="@b.title">
                    <div class="hover">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="icon-facebook"></span>
                                    <span>share</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class=" icon-twitter"></span>
                                    <span>tweet</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="project-content" style="height: 75px;">
                    <h4><a href="/blog/@b.category.Replace(" ", "-")/@b.title.Replace(" ", "-")" class="pop-project">@b.title</a></h4>
                    <a class="visit" href="/blog/@b.category.Replace(" ", "-")/@b.title.Replace(" ", "-")"></a>
                </div>
            </div><!--project-->
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</section>

<!--=================================
Getintouch
=================================-->
<section id="contact">
    <div class="container">
        <h2>get in touch</h2>
        <h3>Don't be shy, give us a shout.</h3>
        <h4>We're ready to make your fitness and training dreams become a reality!</h4>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="contactus">
                    <h5>Sign Up For Coupons & Discounts</h5>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name"><br />
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"><br />
                        <input type="tel" class="form-control" name="phone" id="phone" placeholder="Phone"><br />
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"><br />
                        <textarea name="message" class="form-control" id="message" placeholder="Message"></textarea><br />
                        <button id="submit" class="btn btn-primary">submit</button>
                    </div>
                    <div id="valid-issue" style="display:none;"> Please Provide Valid Information</div>
                </div>
            </div>
            <div class="interested col-lg-4 col-md-4 col-sm- col-xs-12">
                <h5>What are you interested in?</h5>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input type="checkbox" id="interestedbjj">Brazilian Jiu Jitsu<br />
                    <input type="checkbox" id="interestedmuaythai">Muay Thai<br />
                    <input type="checkbox" id="interestedmma">MMA<br />
                    <input type="checkbox" id="interestedkickboxing">Cardio Kickboxing<br />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <input type="checkbox" id="interestedtpl">The Performance Lab<br />
                    <input type="checkbox" id="interestedpeak">Peak Physique<br />
                    <input type="checkbox" id="interestedweightloss"> Weight Loss<br />
                    <input type="checkbox" id="interestedstrength">Increase Strength<br />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm- col-xs-12">
                <h5>get social with us</h5>
                <ul class="social">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class=" icon-google-plus"></i></a></li>
                    <li><a href="#"><i class=" icon-twitter"></i></a></li>
                    <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class=" icon-dribbble"></i></a></li>
                    <li><a href="#"><i class=" icon-dropbox"></i></a></li>
                    <li><a href="#"><i class=" icon-flickr"></i></a></li>
                    <li><a href="#"><i class=" icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>


<section id="hire-us" class="parallax parallax-two">
    <div class="container">
        <h3>&nbsp;</h3>
        <h4>&nbsp;</h4>
    </div>
    <div class="hiring-form">
        <div class="container">
            
        </div>
    </div>
    <div class="clearfix"></div>
</section>

<!--=================================
Contact
=================================-->
<section id="contact">
    <div class="container">
        <div class="contact-info contact1">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h5>Location</h5>
                            <h6>
                                3400 Coffee Rd,
                                Suite #19 Modesto CA, 95354
                            </h6>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h5>call us</h5>
                            <h6><span>Tel:</span> 1.800.123.9876 - 6789</h6>
                            <h6><span>Fax:</span> 1.800.321.9877 - 7789</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <h5>Write to Us</h5>
                            <h6><span>Sales:</span> sales@teammodestopower.com</h6>
                            <h6><span>info:</span> info@teammodestopower.com</h6>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                            <h5>careers</h5>
                            <h6><span>HRDept:</span> hr@teammodestopower.com</h6>
                            <h6><span>jobs:</span>  jobs@teammodestopower.com</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div id="contact-map" class="g-map" data-address="3400 coffee rd modesto ca 95354" data-zoomlvl="16" data-maptype="HYBRID"></div>
                </div>
            </div>
        </div><!--contact info-->
    </div>
</section>
       