
<!-- SIDEBAR : begin -->
<aside id="sidebar">
    <ul style="list-style: none;">
        <li class="widget images-feed-widget">
            <h3 class="widget-title"><a href="#">Contact Us</a></h3>
            <div class="widget-content">
                <div class="widget-content-inner">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/ModestoPower" title="Facebook"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.flickr.com/photos/127511574@N06/" title="Flickr"><i class=" icon-flickr"></i></a></li>
                        <li><a href="https://twitter.com/ModestoPower209" title="Twitter"><i class=" icon-twitter"></i></a></li>
                    </ul>
                    <ul style="list-style: none;">
                        <li>
                            <i class="glyphicon glyphicon-phone-alt"></i> <b>P:</b> 209-526-1314
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-phone-alt"></i> <b>F:</b> 209-526-7235
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-envelope"></i> <b>E:</b> <a href="mailto:info@teammodestopower.com">info@teammodestopower.com</a>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-map-marker"></i> <b>A:</b> 3500 Coffee Rd. <br />
                            <span style="margin-left: 35px;">Modesto, CA 95355</span>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <!-- POSTS WIDGET : begin -->
        <!-- POSTS WIDGET : end -->
        <!-- INSTAGRAM WIDGET : begin -->
        <li class="widget images-feed-widget">
        <h3 class="widget-title"><a href="#">Instagram</a></h3>
        <div class="widget-content">
            <div class="widget-content-inner">
                <div class="instagram-feed loading" data-id="239678641" data-limit="9"><span class="loading-anim"><span></span></span></div>
            </div>
        </div>
    </li>
        <!-- INSTAGRAM WIDGET : end -->
        <!-- FLICKR WIDGET : begin -->
        <li class="widget images-feed-widget">
            <h3 class="widget-title"><a href="https://www.flickr.com/photos/127511574@N06/">flickr</a></h3>
            <div class="widget-content">
                <div class="widget-content-inner">
                    <div class="flickr-feed loading" data-id="127511574@N06" data-limit="9"><span class="loading-anim"><span></span></span></div>
                </div>
            </div>
        </li>
        <!-- FLICKR WIDGET : end -->

    </ul>
</aside>
<!-- SIDEBAR : end -->