@model RAM.Controllers.ViewModels.HomeView

@using ModestoPower.Core.Domain.Schedule

@{
    ViewBag.Title = "Modesto Power | Schedule";
}
<section id="promo" class="historyheader parallax">
</section>
<section id="aboutcontent">
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 about-inner">
                <div class="row">
                    <div>
                        <b style="color:#0094ff">Filter By Class: </b><select class="input-lg" id="classddl"></select>

                        <button style="vertical-align: top;" type="button" class="btn btn-lg btn-danger" id="submitfilter">Search</button>
                    </div>
                </div><hr />
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about-inner">
                        <h2>Monday</h2>
                        <ul class="schedulelist" id="Monday"></ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h2>Tuesday</h2>
                        <ul class="schedulelist" id="Tuesday"></ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h2>Wednesday</h2>
                        <ul class="schedulelist" id="Wednesday"></ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 about-inner">
                        <h2>Thursday</h2>
                        <ul class="schedulelist" id="Thursday"></ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h2>Friday</h2>
                        <ul class="schedulelist" id="Friday"></ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h2>Saturday</h2>
                        <ul class="schedulelist" id="Saturday"></ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                @Html.Action("Sidebar", "Blog")
            </div>
        </div>
    </div>
</section>


<script>

    (function () {
        setTimeout(function () {
            $('#sticktop-sticky-wrapper').hide();
            $('#internalnav').show();
            $('#nav-schedule').addClass('active');
        }, 500);

    })();

    $(document).ready(function() {
        var schedule = @Html.Raw(Json.Encode(Model.Schedules.OrderBy( o => o.name)));

        var list = [];

        $("#submitfilter").on('click', function(e){
            clearSchedules();
            buildSchedules($('#classddl').val());
        });

        function buildScheduleByDay(day, program){
            schedule.forEach(getByFilters);
            function getByFilters(element, index, array){
                if(program != ''){
                    if(element.day == day && element.name == program){
                        $("#" + prettyName(day)).append($('<li></li>').html(prettyName(element.name) + " - <b>" + element.times + "</b>" ));
                    }
                } else {
                    if(element.day == day){
                        console.log(element.name);
                        $("#" + prettyName(day)).append($('<li></li>').html(prettyName(element.name) + " - <b>" + element.times + "</b>" ));
                    }
                }
            }
        }

        function loadClassesDDL(){
            var temp = [];
            $.each(schedule, function(idx, text){
                if(idx == 0){
                    $('#classddl').append($('<option></option').val("").html("-- Select --"));
                }
                if(temp === null || temp === 'undefined' ){
                    temp.push(text.name);
                    $('#classddl').append($('<option></option').val(text.name).html(prettyName(text.name)));
                } else {
                    if(temp.indexOf(text.name) == -1){
                        temp.push(text.name);
                        $('#classddl').append($('<option></option').val(text.name).html(prettyName(text.name)));
                    }
                }
            });
            temp = null;
        }

        function buildSchedules(program){
            buildScheduleByDay('monday', program);
            buildScheduleByDay('tuesday', program);
            buildScheduleByDay('wednesday', program);
            buildScheduleByDay('thursday', program);
            buildScheduleByDay('friday', program);
            buildScheduleByDay('saturday', program);
        }

        function clearSchedules(){
            $('#Monday').html('');
            $('#Tuesday').html('');
            $('#Wednesday').html('');
            $('#Thursday').html('');
            $('#Friday').html('');
            $('#Saturday').html('');
        }

        function prettyName(txt){
            console.log(txt);
            var arr = txt.split(' ');
            for(var i = 0, l = arr.length; i < l; i++){
                arr[i] = arr[i].substring(0,1).toUpperCase() + 
                arr[i].substring(1, arr[i].length);
            }
            return arr.join(' ');
        }

        loadClassesDDL();
        buildSchedules('');
    });
</script>